<app-shared-table
  [title]="'Patients'"
  [subtitle]="'Manage registered patients'"
  [columns]="patientColumns"
  [data]="filteredPatients()"
  [config]="tableConfig"
  [totalRecords]="totalRecords()"
  
  (view)="viewPatient($event)"
  (pageChange)="onPageChange($event)"
  (refresh)="onRefresh()"
  (edit)="editPatient($event)"
  (delete)="deletePatient($event)"
  (searchRecord)="onSearch($event)"
  (uploadDocuments)="uploadPatientDocuments($event)"
  (viewDocuments)="viewPatientDocuments($event)"
  (createNewRecord)="createNewPatient()"
>
</app-shared-table>

  <app-shared-details
  [(visible)]="viewDialogVisible"
  [title]="'Patient Details'"
  [data]="selectedPatient()"

  >
</app-shared-details>

  <p-dialog
  [(visible)]="documentUploadVisible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [closable]="true"
  [dismissableMask]="true"
  [style]="{ width: '850px', maxWidth: '95vw' }"
  [contentStyle]="{ padding: '0' }"
  (onHide)="closeDocumentUpload()">

  <div class="document-dialog-content">

    <app-document-upload
      [patientId]="selectedPatientId"
      [uploadedBy]="uploadedBy"
      [documents]="documents"
      (documentsChange)="documents = $event"
      >
    </app-document-upload>


  </div>

</p-dialog>

<p-dialog
  [(visible)]="documentViewVisible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [closable]="true"
  [dismissableMask]="true"
  [style]="{ width: '1100px', maxWidth: '95vw' }"
  [contentStyle]="{ padding: '0' }"
  (onHide)="closeViewPatientDocuments()"
  >

  <app-document-list
    recordType="PATIENT"
    [recordId]="selectedViewPatientId"
    [patientId]="selectedViewPatientId"
    >
  </app-document-list>

</p-dialog>

