<app-shared-table
  [title]="'Patients'"
  [subtitle]="'Manage registered patients'"
  [columns]="patientColumns"
  [data]="filteredPatients()"
  [config]="tableConfig"
  [totalRecords]="totalRecords()"
  
  (view)="viewPatient($event)"
  (pageChange)="onPageChange($event)"
  (refresh)="onRefresh()"
  (edit)="editPatient($event)"
  (delete)="deletePatient($event)"
  (searchRecord)="onSearch($event)"
>
</app-shared-table>

  <app-shared-details
  [(visible)]="viewDialogVisible"
  [title]="'Patient Details'"
  [data]="selectedPatient()"

  >
</app-shared-details>
